@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white;
        @apply text-black;
        @apply font-base;
    }

    img {
        @apply block;
    }

    svg {
        @apply block;
        @apply h-full;
        @apply w-full;
    }
}

@layer components {
    /* Rich text styling */
    .rich-text > :first-child {
        @apply mt-0;
    }

    .rich-text > :last-child {
        @apply mb-0;
    }

    .rich-text p {
        @apply my-16;
    }

    /* Loading animation */
    @keyframes ldio-znvg151zyd {
        0% {
            background: #c5c5c5;
        }
        12.5% {
            background: #c5c5c5;
        }
        12.625% {
            background: #000000;
        }
        100% {
            background: #000000;
        }
    }
    .ldio-znvg151zyd div {
        position: absolute;
        width: 40px;
        height: 40px;
        background: #000000;
        animation: ldio-znvg151zyd 1s linear infinite;
    }
    .loadingio-spinner-blocks-uviuj246rep {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.5);
    }
    .ldio-znvg151zyd {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }
    .ldio-znvg151zyd div {
        box-sizing: content-box;
    }
}
